/* Deafult Margin & Padding */
/*-- Margin Top --*/
.mt-5 {
	margin-top: 5px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-25 {
	margin-top: 25px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-35 {
	margin-top: 35px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-45 {
	margin-top: 45px;
}
.mt-50 {
	margin-top: 50px;
}
.mt-55 {
	margin-top: 55px;
}
.mt-60 {
	margin-top: 60px;
}
.mt-65 {
	margin-top: 65px;
}
.mt-70 {
	margin-top: 70px;
}
.mt-75 {
	margin-top: 75px;
}
.mt-80 {
	margin-top: 80px;
}
.mt-85 {
	margin-top: 85px;
}
.mt-90 {
	margin-top: 90px;
}
.mt-95 {
	margin-top: 95px;
}
.mt-100 {
	margin-top: 100px;
}
.mt-105 {
	margin-top: 105px;
}
.mt-110 {
	margin-top: 110px;
}
.mt-115 {
	margin-top: 115px;
}
.mt-120 {
	margin-top: 120px;
}
.mt-125 {
	margin-top: 125px;
}
.mt-130 {
	margin-top: 130px;
}
.mt-135 {
	margin-top: 135px;
}
.mt-140 {
	margin-top: 140px;
}
.mt-145 {
	margin-top: 145px;
}
.mt-150 {
	margin-top: 150px;
}
.mt-155 {
	margin-top: 155px;
}
.mt-160 {
	margin-top: 160px;
}
.mt-165 {
	margin-top: 165px;
}
.mt-170 {
	margin-top: 170px;
}
.mt-175 {
	margin-top: 175px;
}
.mt-180 {
	margin-top: 180px;
}
.mt-185 {
	margin-top: 185px;
}
.mt-190 {
	margin-top: 190px;
}
.mt-195 {
	margin-top: 195px;
}
.mt-200 {
	margin-top: 200px;
}
/*-- Margin Bottom --*/

.mb-5 {
	margin-bottom: 5px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-25 {
	margin-bottom: 25px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-35 {
	margin-bottom: 35px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-45 {
	margin-bottom: 45px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-55 {
	margin-bottom: 55px;
}
.mb-60 {
	margin-bottom: 60px;
}
.mb-65 {
	margin-bottom: 65px;
}
.mb-70 {
	margin-bottom: 70px;
}
.mb-75 {
	margin-bottom: 75px;
}
.mb-80 {
	margin-bottom: 80px !important;
}
.mb-85 {
	margin-bottom: 85px;
}
.mb-90 {
	margin-bottom: 90px;
}
.mb-95 {
	margin-bottom: 95px;
}
.mb-100 {
	margin-bottom: 100px;
}
.mb-105 {
	margin-bottom: 105px;
}
.mb-110 {
	margin-bottom: 110px;
}
.mb-115 {
	margin-bottom: 115px;
}
.mb-120 {
	margin-bottom: 120px;
}
.mb-125 {
	margin-bottom: 125px;
}
.mb-130 {
	margin-bottom: 130px;
}
.mb-135 {
	margin-bottom: 135px;
}
.mb-140 {
	margin-bottom: 140px;
}
.mb-145 {
	margin-bottom: 145px;
}
.mb-150 {
	margin-bottom: 150px;
}
.mb-155 {
	margin-bottom: 155px;
}
.mb-160 {
	margin-bottom: 160px;
}
.mb-165 {
	margin-bottom: 165px;
}
.mb-170 {
	margin-bottom: 170px;
}
.mb-175 {
	margin-bottom: 175px;
}
.mb-180 {
	margin-bottom: 180px;
}
.mb-185 {
	margin-bottom: 185px;
}
.mb-190 {
	margin-bottom: 190px;
}
.mb-195 {
	margin-bottom: 195px;
}
.mb-200 {
	margin-bottom: 200px;
}
.mr-30 {
	margin-right: 30px;
}
.ml-10 {
	margin-left: 10px;
}
/*-- Padding Top --*/

.pt-5 {
	padding-top: 5px;
}
.pt-10 {
	padding-top: 10px;
}
.pt-15 {
	padding-top: 15px;
}
.pt-20 {
	padding-top: 20px;
}
.pt-25 {
	padding-top: 25px;
}
.pt-30 {
	padding-top: 30px;
}
.pt-35 {
	padding-top: 35px;
}
.pt-40 {
	padding-top: 40px;
}
.pt-45 {
	padding-top: 45px;
}
.pt-50 {
	padding-top: 50px;
}
.pt-55 {
	padding-top: 55px;
}
.pt-60 {
	padding-top: 60px;
}
.pt-65 {
	padding-top: 65px;
}
.pt-70 {
	padding-top: 70px;
}
.pt-75 {
	padding-top: 75px;
}
.pt-80 {
	padding-top: 80px;
}
.pt-85 {
	padding-top: 85px;
}
.pt-90 {
	padding-top: 90px;
}
.pt-95 {
	padding-top: 95px;
}
.pt-100 {
	padding-top: 100px;
}
.pt-105 {
	padding-top: 105px;
}
.pt-110 {
	padding-top: 110px;
}
.pt-115 {
	padding-top: 115px;
}
.pt-120 {
	padding-top: 120px;
}
.pt-125 {
	padding-top: 125px;
}
.pt-130 {
	padding-top: 130px;
}
.pt-135 {
	padding-top: 135px;
}
.pt-140 {
	padding-top: 140px;
}
.pt-145 {
	padding-top: 145px;
}
.pt-150 {
	padding-top: 150px;
}
.pt-155 {
	padding-top: 155px;
}
.pt-160 {
	padding-top: 160px;
}
.pt-165 {
	padding-top: 165px;
}
.pt-170 {
	padding-top: 170px;
}
.pt-175 {
	padding-top: 175px;
}
.pt-180 {
	padding-top: 180px;
}
.pt-185 {
	padding-top: 185px;
}
.pt-190 {
	padding-top: 190px;
}
.pt-195 {
	padding-top: 195px;
}
.pt-200 {
	padding-top: 200px;
}
/*-- Padding Bottom --*/

.pb-5 {
	padding-bottom: 5px;
}
.pb-10 {
	padding-bottom: 10px;
}
.pb-15 {
	padding-bottom: 15px;
}
.pb-20 {
	padding-bottom: 20px;
}
.pb-25 {
	padding-bottom: 25px;
}
.pb-30 {
	padding-bottom: 30px;
}
.pb-35 {
	padding-bottom: 35px;
}
.pb-40 {
	padding-bottom: 40px;
}
.pb-45 {
	padding-bottom: 45px;
}
.pb-50 {
	padding-bottom: 50px;
}
.pb-55 {
	padding-bottom: 55px;
}
.pb-60 {
	padding-bottom: 60px;
}
.pb-65 {
	padding-bottom: 65px;
}
.pb-70 {
	padding-bottom: 70px;
}
.pb-75 {
	padding-bottom: 75px;
}
.pb-80 {
	padding-bottom: 80px;
}
.pb-85 {
	padding-bottom: 85px;
}
.pb-90 {
	padding-bottom: 90px;
}
.pb-95 {
	padding-bottom: 95px;
}
.pb-100 {
	padding-bottom: 100px;
}
.pb-105 {
	padding-bottom: 105px;
}
.pb-110 {
	padding-bottom: 110px;
}
.pb-115 {
	padding-bottom: 115px;
}
.pb-120 {
	padding-bottom: 120px;
}
.pb-125 {
	padding-bottom: 125px;
}
.pb-130 {
	padding-bottom: 130px;
}
.pb-135 {
	padding-bottom: 135px;
}
.pb-140 {
	padding-bottom: 140px;
}
.pb-145 {
	padding-bottom: 145px;
}
.pb-150 {
	padding-bottom: 150px;
}
.pb-155 {
	padding-bottom: 155px;
}
.pb-160 {
	padding-bottom: 160px;
}
.pb-165 {
	padding-bottom: 165px;
}
.pb-170 {
	padding-bottom: 170px;
}
.pb-175 {
	padding-bottom: 175px;
}
.pb-180 {
	padding-bottom: 180px;
}
.pb-185 {
	padding-bottom: 185px;
}
.pb-190 {
	padding-bottom: 190px;
}
.pb-195 {
	padding-bottom: 195px;
}
.pb-200 {
	padding-bottom: 200px;
}



/*-- Padding Left --*/
.pl-0 {
	padding-left: 0px;
}
.pl-5 {
	padding-left: 5px;
}
.pl-10 {
	padding-left: 10px;
}
.pl-15 {
	padding-left: 15px;
}
.pl-20{
	padding-left: 20px;
}
.pl-25 {
	padding-left: 35px;
}
.pl-30 {
	padding-left: 30px;
}
.pl-35 {
	padding-left: 35px;
}

.pl-35 {
	padding-left: 35px;
}

.pl-40 {
	padding-left: 40px;
}

.pl-45 {
	padding-left: 45px;
}

.pl-50 {
	padding-left: 50px;
}

.pl-55 {
	padding-left: 55px;
}

.pl-60 {
	padding-left: 60px;
}
.pl-65 {
	padding-left: 65px;
}
.pl-70 {
	padding-left: 70px;
}
.pl-75 {
	padding-left: 75px;
}
.pl-80 {
	padding-left: 80px;
}
.pl-85 {
	padding-left: 80px;
}
.pl-90 {
	padding-left: 90px;
}
.pl-95 {
	padding-left: 95px;
}
.pl-100 {
	padding-left: 100px;
}


/*-- Padding Right --*/
.pr-0 {
	padding-right: 0px;
}
.pr-5 {
	padding-right: 5px;
}
.pr-10 {
	padding-right: 10px;
}
.pr-15 {
	padding-right: 15px;
}
.pr-20{
	padding-right: 20px;
}
.pr-25 {
	padding-right: 35px;
}
.pr-30 {
	padding-right: 30px;
}
.pr-35 {
	padding-right: 35px;
}

.pr-35 {
	padding-right: 35px;
}

.pr-40 {
	padding-right: 40px;
}

.pr-45 {
	padding-right: 45px;
}

.pr-50 {
	padding-right: 50px;
}

.pr-55 {
	padding-right: 55px;
}

.pr-60 {
	padding-right: 60px;
}
.pr-65 {
	padding-right: 65px;
}
.pr-70 {
	padding-right: 70px;
}
.pr-75 {
	padding-right: 75px;
}
.pr-80 {
	padding-right: 80px;
}
.pr-85 {
	padding-right: 80px;
}
.pr-90 {
	padding-right: 90px;
}
.pr-95 {
	padding-right: 95px;
}
.pr-100 {
	padding-right: 100px;
}

/* font weight */
.f-700{font-weight: 700;}
.f-600{font-weight: 600;}
.f-500{font-weight: 500;}
.f-400{font-weight: 400;}
.f-300{font-weight: 300;}

/* Background Color */

.gray-bg {
	background: #f6f6f6;
}
.lite-gray-bg {
	background: #fafafa;
}
.white-bg {
	background: #fff;
}
.black-bg {
	background: #1c181e;
}
.theme-bg {
	background: #222;
}
.primary-bg {
	background: #f9f9f9;
}
/* Color */

.white-color {
	color: #fff;
}
.black-color {
	color: #222;
}
.theme-color {
	color: #222;
}
.primary-color {
	color: #222;
}
/* black overlay */

[data-overlay] {
	position: relative;
}
[data-overlay]::before {
	background: #000 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
[data-overlay="3"]::before {
	opacity: 0.3;
}
[data-overlay="4"]::before {
	opacity: 0.4;
}
[data-overlay="5"]::before {
	opacity: 0.5;
}
[data-overlay="6"]::before {
	opacity: 0.6;
}
[data-overlay="7"]::before {
	opacity: 0.7;
}
[data-overlay="8"]::before {
	opacity: 0.8;
}
[data-overlay="9"]::before {
	opacity: 0.9;
}

.blog-list-post.sticky {
    box-shadow: 0px 2px 12.09px 0.91px rgba(228, 161, 1, 0.15);
}

/*--------------------------------------------------------------
## WordPress Core
--------------------------------------------------------------*/
#content {
	overflow: hidden;
}
.alignnone {
	margin: 5px 20px 10px 0;
}
.aligncenter, div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

/* unitest css */
.alignright {
	float:right;
	margin: 5px 0 20px 33px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
a img.alignnone {
	margin: 5px 20px 20px 0;
}
a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* unitest css */
.wp-caption {
	background: #fff;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
	margin-bottom: 20px;
}
#attachment_612.wp-caption {
	margin-bottom: 0px;
}
.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}
.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}
.wp-caption-text {
	margin: 10px 0;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}
.gallery {
	margin: 0 -1.1666667% 1.75em;
}
.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-1 .gallery-item {
	max-width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-icon img {
	margin: 0 auto;
}
.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
.wd_none_effect_unique > li.bypostauthor{ 
	font-size: 14px; 
}

/** === Block Unit Test === */
/*separator*/
.wp-block-separator {
	background-color: #767676;
	border: 0;
	height: 2px;
	margin: 2rem 0;
	max-width: 2.25em;
	text-align: left;
}
.post-content h1{
	margin-bottom: 2.5rem;
}

/*subhead block*/
p.wp-block-subhead {
	font-size: 24px;
	font-style: italic;
	opacity: .8;
}
/*Separator block*/
hr.is-style-wide, .wp-block-separator.is-style-wide {
	max-width: 100%;
}
hr.is-style-dots, .wp-block-separator.is-style-dots {
	max-width: 100%;
	background-color: inherit;
	border: inherit;
	height: inherit;
	text-align: center;
}
hr.is-style-dots:before, .wp-block-separator.is-style-dots:before {
	font-size: 1.6875em;
	letter-spacing: 0.88889em;
	padding-left: 0.88889em;
}
.blurb-page-container .post-content ul.wp-block-latest-posts {
	padding: 0;
	list-style-type: none;
	margin: 0;
	list-style: none;
	margin-bottom: 2rem;
}
.post-content .wp-block-quote:not(.is-large), 
.post-content .wp-block-quote:not(.is-style-large) {
	border-width: 3px;
	padding: 0px 20px 0px 60px;
}

/*button*/
.wp-block-button {
	margin-bottom: 1rem;
}
.wp-block-button .wp-block-button__link {
	background: #e4a101;
	border: medium none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
    padding: 20px 44px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}
.wp-block-button .wp-block-button__link:hover {
	opacity: 1;
	color:#fff
}
.wp-block-button.is-style-squared .wp-block-button__link {
	border-radius: 0;
}
.wp-block-button.is-style-outline .wp-block-button__link {
	background: transparent;
    padding: 20px 35px;
    border: 2px solid #1c1121;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover {
	border-color: #e4a101;
	color: #e4a101;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover::before {
	right: 0;
}
.post-content .wp-block-cover {
	color: #fff;
	font-weight: bold;
	margin-bottom: 1rem;
}
.wp-block-categories-list.aligncenter, .wp-block-categories-list.aligncenter ul {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}
.wp-block-categories ul > li > a::before {
	content: "– " counters(submenu, "– ", none);
	counter-increment: submenu;
}
.wp-block-archives li.menu-item-has-children,
.wp-block-archives li:last-child,
.wp-block-categories li.menu-item-has-children,
.wp-block-categories li:last-child,
.wp-block-latest-posts li.menu-item-has-children,
.wp-block-latest-posts li:last-child {
	padding-bottom: 0;
}
.wp-block-pullquote {
	border: 0 !important;
	padding: 0 !important;
	border-color: transparent;
	color: #000;
}
.post-content .wp-block-pullquote blockquote {
	background: #f5f5f5;
	border-left: 0;
	border-right: 0; 
	border-top-width: 3px;
	border-top-style: solid;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	padding: 30px;
	margin-top: calc(3 * 1rem);
	margin-bottom: calc(3.33 * 1rem);
	hyphens: auto;
	word-break: break-word;
}
.post-content .wp-block-pullquote blockquote {
    margin: 2rem 1rem;
    border: 0;
    background: none;
    padding: 20px 20px 20px 20px;
}
.post-content .wp-block-pullquote blockquote:before {
	margin: 0 auto;
	right: 0;
}
.wp-block-pullquote.is-style-solid-color blockquote {
    max-width: 100%;
    padding: 20px 20px 20px 20px;
}
.wp-block-pullquote.is-style-solid-color blockquote:before {
	display: none;
}
.post-content blockquote.wp-block-pullquote {
	margin: 2rem 1rem;
}
.post-content .wp-block-pullquote blockquote p {
	font-size: 2rem;
	line-height: 1.8;
	font-weight: normal;
	margin: .5em 0;
	padding: 0;
}
.post-content blockquote.wp-block-pullquote p {
	font-size: 2rem;
	line-height: 1.8;
	font-weight: normal;
	margin: .5em 0;
	padding: 0;
}
.wp-block-pullquote cite, .wp-block-pullquote footer, .wp-block-pullquote__citation {
	color: #767676;
	text-transform: none;
	font-weight: 400;
}
.post-content blockquote.wp-block-quote.has-text-align-right {
    padding: 0px 60px 0px 20px;
}
.post-content blockquote.wp-block-quote.has-text-align-right:before {
	left: auto;
	right: 0;
}
@media (max-width: 991px) {
	post-content blockquote.wp-block-pullquote {
		margin: 1.5rem .8rem;
	}
	.post-content blockquote.wp-block-pullquote p {
		font-size: 1.55rem !important;
	}
}
@media (max-width: 767px) {
	.post-content .wp-block-pullquote blockquote {
		margin: 1rem .5rem;
	}
	.post-content blockquote.wp-block-pullquote {
		margin: 1rem .5rem;
	}
	.post-content .wp-block-pullquote blockquote p {
		font-size: 1.3rem !important;
	}
	.post-content blockquote.wp-block-pullquote p {
		font-size: 1.3rem !important;
	}
}
.post-content .wp-block-image {
	margin-bottom: 2rem;
}
.wp-block-image.alignleft.is-resized {
	margin: 5px 20px 20px 0;
}
.wp-block-image.alignright.is-resized {
	margin: 5px 0 20px 20px;
}
.wp-block-gallery {
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 1rem;
}
.wp-block-gallery figcaption {
	margin: 0 auto;
}
.blocks-gallery-item {
	margin-bottom: 16px !important;
}
.wp-block-image {
	max-width: 100%;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}

.post-content {
	color: #6c6c6c;
}
.post-content a, .page-content a {
	color: #1c1121;
}
.post-content a:hover, .page-content a:hover {
	color: #e4a101;
}
.post-content .has-small-font-size {
	font-size: 13px;
}
.post-content .has-large-font-size {
	font-size: 36px;
}

.post-content h1 {
	font-size: 60px;
	color: #1c1121;
}
.post-content h2 {
	font-size: 40px;
	color: #1c1121;
}
.post-content h3 {
	font-size: 32px;
	color: #1c1121;
}
.post-content h4 {
	font-size: 24px;
	color: #1c1121;
}
.post-content h5 {
	font-size: 20px;
	color: #1c1121;
}
.post-content h6 {
	font-size: 16px;
	color: #1c1121;
}
.post-content ul, .post-content ol, .page-content ul, .page-content ol,.comment-body ul,.comment-body ol {
	margin-bottom: 1.5rem;
	padding-left: 1.5rem;
}
.wp-block-gallery.columns-2.is-cropped ul {
    padding-right: 20px;
}
.post-content ul li, .post-content ol li, .page-content ul li, .page-content ol li, .comment-body ul li,.comment-body ol li {
	margin: 15px 0;
	list-style: inherit;
}
.post-content ul li ul, .post-content ol li ol, .page-content ul li ul, .page-content ol li ol, .comment-body ul li ul, .comment-body ol li ol {
	margin-left: 1.5rem;
	margin-bottom: 1rem;
	padding-left: 1rem;
}
.post-content figure {
	margin-bottom: 2rem;
}
.wp-block-group.has-background {
	padding: 1rem;
}
.wp-block-media-text {
	margin-bottom: 2rem;
}
.page-links {
	padding: 12px 0;
}
.page-links .post-page-numbers {
	margin: 0 5px;
    border: 1px solid;
    padding: 3px 15px;
}
.page-links .page-links-title {
	color: #1c1121;
}
table {
    margin: 0 0 1.5em;
    width: 100%;
}
table th, table td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border: 1px solid #ddd;
}
.page-content, .page-content p {
	color: #6c6c6c;
}
.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
	color: #1c1121;
}
.comments-area, .blog-list-post-bottom, .page-links, .singel-post-paginate {
	clear: both;
}
.comment-body h1, .comment-body h2, .comment-body h3, .comment-body h4, .comment-body h5, .comment-body h6 {
    color: #1c1121;
    font-weight: 800;
}
.comment-body table th, 
.comment-body table td,
.comment-body table th a,
.comment-body table td a,
.comment-body ul li,
.comment-body ol li,
.comment-body address,
.comment-body pre {
	color: #6c6c6c;
}
.comment-body dt,
.comment-body dd {
	color: #6c6c6c;
	margin-bottom: 13px;
}
.comment-body pre {
	white-space: break-spaces;
}
.blog-details-wrap .blog-list-post-content p {
    line-height: 1.95;
}
.blog-details-wrap .blog-list-post-content .post-content h4 {
    margin-top: 0;
}
.blog-details-wrap .blog-list-post-content .post-content h1,.page-content h1,.comment-body h1 {font-size: 3.5rem;margin: 1em 0 .5em; font-weight: 800}
.blog-details-wrap .blog-list-post-content .post-content h2,.page-content h2,.comment-body h2 {font-size: 2.5rem;margin: 1em 0 .5em; font-weight: 800}
.blog-details-wrap .blog-list-post-content .post-content h3,.page-content h3,.comment-body h3 {font-size: 2.2rem;margin: 1em 0 .5em; font-weight: 800}
.blog-details-wrap .blog-list-post-content .post-content h4,.page-content h4,.comment-body h4 {font-size: 1.8rem;margin: 1em 0 .5em; font-weight: 800}
.blog-details-wrap .blog-list-post-content .post-content h5,.page-content h5,.comment-body h5 {font-size: 1.5rem;margin: 1em 0 .5em; font-weight: 800}
.blog-details-wrap .blog-list-post-content .post-content h6,.page-content h6,.comment-body h6 {font-size: 1rem;margin: 1em 0 .5em; font-weight: 800}

.wp-block-gallery ul.blocks-gallery-grid {
    padding-left: 0;
}
.wp-block-archives.wp-block-archives-dropdown,
.wp-block-categories.wp-block-categories-dropdown {
    margin-bottom: 2rem;
}
.wp-block-calendar caption {
    caption-side: top;
}
.wp-block-calendar .wp-calendar-nav {
	padding-top: 0;
	text-align: left;
}
.wp-block-calendar {
    margin-bottom: 2rem;
}
.wp-block-search .wp-block-search__input,
.post-content input {
    flex-grow: 1;
    max-width: 360px;
    border: 1px solid #cacaca;
    padding: 8px 20px;
}
.wp-block-search .wp-block-search__button,
.post-content [type=submit] {
    margin-left: 10px;
    padding: 12px 44px;
    background: #e4a101;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
	line-height: 1.5;
	cursor: pointer;
}
.wp-block-search .wp-block-search__label,
.post-content label {
    font-size: 15px;
    font-weight: 500;
    color: #6c6c6c;
}
.wp-block-search {
    margin-bottom: 2rem;
}
.post-content select {
    color: #6c6c6c;
    border: 1px solid #2b2b2b;
    padding: 10px 20px;
    font-size: 14px;
    padding-right: 50px;
    font-weight: 500;
}
.wp-block-tag-cloud {
	margin-bottom: 2rem;
}
.wp-block-tag-cloud a {
    margin-right: 5px;
    line-height: initial;
}
.wp-block-group {
    margin-bottom: 2rem;
}
.no-comments {
    color: #6c6c6c;
}
.trackback,
.pingback {
	color: #1c1121;
	margin: 15px 0;
}
.trackback a,
.pingback a {
    color: #6c6c6c;
}
li.trackback:last-child,
li.pingback:last-child {
	margin-bottom: 2rem;
}